Repository Recipers/asmo, pull requests merged in 2024-05, with the labels that each got.

#2 docker-compose 정의
  README.md
  backend/docker-compose.yml
Labels: chore, backend

#13 feat: 팀 엔티티 정의
  backend/src/main/java/com/recipers/asmo/team/entity/Team.java
Labels: backend, feat

#15 팀 멤버 엔티티 정의
  backend/src/main/java/com/recipers/asmo/team_member/entity/TeamMember.java
Labels: backend, feat

#18 feat: 유저 생성 api
  backend/build.gradle
  backend/src/main/java/com/recipers/asmo/exception/CommonException.java
  backend/src/main/java/com/recipers/asmo/exception/CommonExceptionHandler.java
  backend/src/main/java/com/recipers/asmo/exception/ErrorMessageCode.java
  backend/src/main/java/com/recipers/asmo/exception/ErrorResponse.java
  backend/src/main/java/com/recipers/asmo/game_proposal/entity/GameProposal.java
  backend/src/main/java/com/recipers/asmo/user/controller/UserController.java
  backend/src/main/java/com/recipers/asmo/user/dto/UserSignUpRequest.java
  backend/src/main/java/com/recipers/asmo/user/entity/User.java
  backend/src/main/java/com/recipers/asmo/user/mapper/UserMapper.java
  backend/src/main/java/com/recipers/asmo/user/repository/UserRepository.java
  backend/src/main/java/com/recipers/asmo/user/service/UserService.java
  backend/src/main/java/com/recipers/asmo/util/jpa/BooleanConverter.java
  backend/src/main/java/com/recipers/asmo/util/jpa/EnumConverters.java
  backend/src/main/java/com/recipers/asmo/util/jpa/PersistableEnum.java
  backend/src/main/java/com/recipers/asmo/util/jpa/PersistableEnumConverter.java
  backend/src/main/resources/application.yml
Labels: backend, feat

#20 feat: 팀 생성 API
  backend/src/main/java/com/recipers/asmo/team/controller/TeamController.java
  backend/src/main/java/com/recipers/asmo/team/dto/TeamCreateRequest.java
  backend/src/main/java/com/recipers/asmo/team/entity/Team.java
  backend/src/main/java/com/recipers/asmo/team/mapper/TeamMapper.java
  backend/src/main/java/com/recipers/asmo/team/repository/TeamRepository.java
  backend/src/main/java/com/recipers/asmo/team/service/TeamService.java
Labels: backend, feat

#23 feat: 팀 조회 API
  backend/src/main/java/com/recipers/asmo/team/controller/TeamController.java
  backend/src/main/java/com/recipers/asmo/team/service/TeamService.java
Labels: backend, feat

#24 운영 배포 완료
  .github/workflows/backend-prod.yml
  backend/appspec.yml
  backend/build.gradle
  backend/scripts/start.sh
  backend/scripts/stop.sh
  backend/src/main/resources/application.yml
Labels: backend, ci

#29 게임 전적 조회 API 구현
  backend/src/main/java/com/recipers/asmo/game_history/controller/GameHistoryController.java
  backend/src/main/java/com/recipers/asmo/game_history/entity/GameHistory.java
  backend/src/main/java/com/recipers/asmo/game_history/repository/GameHistoryRepository.java
  backend/src/main/java/com/recipers/asmo/game_history/service/GameHistoryService.java
Labels: backend, feat

#31 팀의 전적 목록 조회 API 구현
  backend/src/main/java/com/recipers/asmo/game_history/controller/GameHistoryController.java
  backend/src/main/java/com/recipers/asmo/game_history/repository/GameHistoryRepository.java
  backend/src/main/java/com/recipers/asmo/game_history/service/GameHistoryService.java
Labels: backend, feat

#33 feat: 팀 생성시 팀을 생성한 사람은 매니저로 등록
  backend/src/main/java/com/recipers/asmo/team/controller/TeamController.java
  backend/src/main/java/com/recipers/asmo/team/service/TeamService.java
  backend/src/main/java/com/recipers/asmo/team_member/entity/TeamMember.java
  backend/src/main/java/com/recipers/asmo/team_member/eums/Role.java
  backend/src/main/java/com/recipers/asmo/team_member/mapper/TeamMemberMapper.java
  backend/src/main/java/com/recipers/asmo/team_member/repository/TeamMemberRepository.java
  backend/src/main/java/com/recipers/asmo/util/jpa/EnumConverters.java
Labels: backend, feat
